body {
   background-color: white;
   background-image: url("img/transparentpaper1.png");
   text-align: center;
}

#homepage_button:hover {
    background-color:pink;
}

h1 {
    font-family: "handsome-pro", sans-serif;
    font-weight: 400;
    font-style: normal;
}