/* style code implemented later*/

body {
    background-color : pink;
    text-align: center;
     /* later replaced with better image */
 }

 h1{
    font-family: "handsome-pro", sans-serif;
    font-style: bold;
 }

 h2 {
    font-family: "handsome-pro", sans-serif;
    font-size: 72px;
    font-style: bold;
 }

 p {
    font-family: "Playpen Sans", cursive;
    font-optical-sizing: auto;
    font-style: normal;
 }

 .pages {
    background-image: url("../../img/transparentpaper1.png");
    background-color : white;
    margin: 100px;
    padding: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
 }

 images {
    width: 50%;
 }

 .text {
    width: 50%;
 }

 #videos {
    height: 480px;
    width: 222px
 }

 #movie {
    height: 411px;
    width: 720px;
 }