/* style code implemented later*/
nav h1 {
   font-family: "handsome-pro", sans-serif;
   font-size: 125px;
   font-style: bold;
   margin: 50px;
}

div.fixed {
   position: fixed;
   bottom: -20px;
   left: 0;
}

div.fixed a {
   position: fixed;
   bottom: 6%;
   left: 1%;
   text-decoration: none;
   font-family: "handsome-pro", sans-serif;
   font-size: 70px;
   font-style: normal;
   transform: rotate(10deg);
}

.wrapper {
   font-family: "Playpen Sans", cursive;
   font-size: 30px;
   font-style: normal;
   margin: 50px;
}

nav{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;
   position:relative;

   font-family: "Playpen Sans", cursive;
   font-size: 20px;
   font-style: normal;

   height: 10px;
   margin: 20px;
   z-index: 10;
   top: -50px;
}

a {
   color: black;
   text-decoration: none;
}

a:hover{
   color: magenta;
   text-decoration: underline;
}

nav a:visited{
   color: black;
   text-decoration: none;
}

body {
   text-align: center;
   background-image: linear-gradient(to bottom right, pink , rgb(250, 132, 163));
   /* if image doesn't show up */
   background-image: url("../../img/leather-background.png");
}

h2 {
   font-family: "handsome-pro", sans-serif;
   font-size: 72px;
   font-style: bold;
}

p {
   font-family: "Playpen Sans", cursive;
   font-optical-sizing: auto;
   font-style: normal;
}

.pages {
   background-image: url("../../img/transparentpaper1.png");
   background-color : white;
   margin: 100px;
   padding: 50px 100px 50px;
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   position: relative;
   flex-wrap: nowrap;
   align-items: center;
   overflow-wrap: break-word;
   gap: 50px;
}

#page1 {
   margin-top: 175px;
}

#page1 img {
   height: 600px;
}

#page2 img {
   height: 600px;
}

#page4 img {
   height: 600px;
}

#page6 img {
   height: 600px;
}

#page7 img {
   height: 600px;
}

#page8 img {
   height: 600px;
}

#page10 img {
   height: 600px;
}

#page11 img {
   height: 400px;
}

#videos {
   height: 480px;
   width: 222px
}

#movie {
   height: 411px;
   width: 720px;
}